{% extends 'base.html' %}
{% block title %}
{% endblock title %}

{% block content %}
  <div class = 'post_content'>
    <h1>Why does this exist?</h1>
  </div>
  <div class ='post_content'>
    <p>I'll keep this short, because quite frankly, I don't think many people
      will read this.</p>
    <p></p>
    <p>This project is part me wanting to learn how to program and mostly wanting to
      eating a lot of Italian Heros.  If I'm going to spend hours programming and
      eating sandwiches, I might as well share it, right?  </p>
    <p></p>
  </div>
{% endblock content %}
