{% extends 'base.html' %}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/blog/style.css' %}" />

{% block title%}<h1>Restaurants</h1>{% endblock%}

{% block content %}
<div class = "rating_content">
  <h2>Restaurants</h2>
  {% if restaurants %}
    {% for restaurant in restaurants %}
          <div class = "btn_container">
              <button class = "button" type ="button">
                <a href="{% url 'view_restaurant' restaurant.name %}">{{ restaurant.name }}
                </a>
              </button>
          </div>
    {% endfor %}
  {% else %}
    <p>There are no restaurants.</p>
{% endif %}
{% endblock %}
