{% extends 'base.html'%}

{% load static %}

<link rel="stylesheet" type="text/css" href="{% static '/blog/style.css' %}" />

{% block content%}
<div class="rating_content">
  <h1> {{restaurant.name}} </h1>
  <h3> Phone: {{restaurant.phone_number}}</h3>
  <h3> Email: {{restaurant.email}}</h3>
  <h3><a href = "http://{{restaurant.website}}">Website</a></h3>
</div>

<div class = "post_content">
  <h1> {{post.title}}</h1>
  <h4> {{post.pub_date}}</h4>
  <div class = "post_text">{{ post.content }}</div>
</div>
<div class = "rating_content">
  <h1> {{rating.sandwich_name}} </h1>
  <ul>
    <table align ="center">
      <tr>
        <td>Bread Quality: </td>
        <td>{{ rating.bread_quality }}/10</td>
      </tr>
      <tr>
        <td>Meat Quality: </td>
        <td>{{rating.meat_quality}}/10</td>
      </tr>
      <tr>
        <td>Meat Quantity: </td>
        <td>{{rating.meat_quantity}}/10</td>
      </tr>
      <tr>
        <td>Toppings Quality: </td>
        <td>{{rating.veg_quality}}/10</td>
      </tr>
      <tr>
        <td>Toppings Quantity: </td>
        <td>{{rating.veg_quantity}}/10</td>
      </tr>
      <tr>
        <td>Dressing Quality: </td>
        <td>{{rating.dressing_quality}}/10</td>
      </tr>
      <tr>
        <td>Dressing Quantity: </td>
        <td>{{rating.dressing_quantity}}/10</td>
      </tr>
    </table>
  </ul>
</div>
{% endblock %}
